[submodule "jo_description"]
	path = jo_description
	url = https://github.com/mlisi1/jo_description.git
[submodule "jo_navigation"]
	path = jo_navigation
	url = https://github.com/mlisi1/jo_navigation.git
[submodule "glim"]
	path = glim
	url = https://github.com/giacomotambe/glim.git
[submodule "glim_ros2"]
	path = glim_ros2
	url = https://github.com/giacomotambe/glim_ros2.git
[submodule "onboard_detector_v2"]
	path = onboard_detector_v2
	url = https://github.com/ducciopet/onboard_detector_v2.git
